

.navbar-complete-form{
 width: 100%;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  color: #9221c7;
  align-items: center;
  box-shadow: 0 4px 6px rgba(99, 98, 98, 0.1);
  box-sizing: border-box;
}










.complete-profile-form-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.complete-profile-form {
  display: flex;
  flex-direction: column;
}

.complete-profile-form-title {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.complete-profile-form-group {
  margin-bottom: 15px;
}

.complete-profile-form-label {
  font-size: 14px;
  margin-bottom: 5px;
}

.complete-profile-form-input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.complete-profile-form-button {
  padding: 10px 15px;
  font-size: 16px;
  background-color: #17a2b8;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.complete-profile-form-button:hover {
  background-color: #138496;
}

.complete-profile-cancel-button {
  padding: 10px 15px;
  font-size: 16px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.complete-profile-cancel-button:hover {
  background-color: #c82333;
}
