
.expense-form-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0px 4px 6px  rgba(0, 0, 0, 0.1);
}


.expense-form-heading {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}


.expense-form-input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  width: calc(100% - 20px);
}


.expense-form-select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  width: calc(100%);
}


.expense-form-button {
  padding: 10px 15px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease-in-out;
}

.expense-form-button:hover {
  background-color: #0056b3;
}


.expense-list-item {
  margin-bottom: 10px;
  padding: 15px;
  background-color: #bfec8b;
  border: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px ;
}

.expense-list-item button.edit-button {
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease-in-out;
  background-color: #28a745; 
}

.expense-list-item button.delete-button {
  background-color: #dd4f5d; 
  padding: 10px 15px;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease-in-out;
}

.expense-list-item button:hover {
  background-color: #282b29; }
