/* 
.form-container {
  background-color: #f0f8ff; 
  padding: 30px;
  border-radius: 10px;
  max-width: 600px;
  margin: 50px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
}


.form-title {
  color: #0073e6; 
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}


.form-group {
  margin-bottom: 15px;
}


.form-label {
  display: block;
  margin-bottom: 5px;
  color: #4169e1; 
}


.form-input {
 
  padding: 10px;
  margin: 5px 0;
  border: 2px solid #87cefa; 
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  transition: border-color 0.3s ease-in-out;
}

.form-input:focus {
  border-color: #1e90ff; 
}


.form-button {
  background-color: #ff7f50; 
  color: white;
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.form-button:hover {
  background-color: #ff6347; 
}


.form-link {
  display: block;
  margin-top: 15px;
  text-align: center;
  color: #0073e6; 
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s ease;
}

.form-link:hover {
  color: #005bb5; 
}


.form-link-button {
  background-color: transparent;
  border: none;
  color: #0073e6; 
  text-decoration: underline;
  cursor: pointer;
  font-size: 14px;
  margin-top: 15px;
  transition: color 0.3s ease;
}

.form-link-button:hover {
  color: #005bb5; 
} */
