
div {
  background-color: #e6f7ff; 
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-family: 'Arial', sans-serif;
}


h2 {
  color: #0073e6;
  font-size: 24px;
  margin-bottom: 20px;
}


button {
  background-color: #ff7f50; 
  color: white;
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ff6347; 
}


.expense-form-container {
  margin-top: 30px;
}


input[type="number"],
input[type="text"],
select {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;
  border: 2px solid #87cefa;
  border-radius: 4px;
  outline: none;
  font-size: 16px;
  transition: border-color 0.3s ease-in-out;
}

input[type="number"]:focus,
input[type="text"]:focus,
select:focus {
  border-color: #1e90ff;
}


h3 {
  color: #4169e1;
  font-size: 18px;
  margin: 15px 0 10px;
}
