
.navbar-main {
  width: 100%;
  background-color: #333;
  padding: 1rem 8em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.nav-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
}

.nav-item {
  margin-right: 10px;
  display: flex;
}

.nav-link,
.nav-link-button {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.nav-link:hover,
.nav-link-button:hover {
  color: #007bff;
}


.nav-link-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  font-family: inherit;
}


.nav-item-right {
  margin-left: auto;
}


.nav-link-active {
  color: #007bff;
}

@media (max-width: 768px) {
  .navbar-main {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-list {
    flex-direction: column;
    width: 100%;
  }

  .nav-item {
    margin-left: 0;
    margin-top: 1rem;
  }

  .nav-link,
  .nav-link-button {
    width: 100%;
    text-align: left;
    padding: 0.5rem 0;
  }

  .nav-item-right {
    margin-left: 0;
    margin-top: 1rem;
  }
}
